key.json
conf.json
__pycache__/
*.pyc 
*.log 
.DS_Store  
*.ini
.idea/workspace.xml
.idea/misc.xml
.idea/Soma_SlackBot_taja.iml
.idea/modules.xml
.idea/vcs.xml
.idea/webServers.xml
.idea/webServers.xml
.idea/webServers.xml
.idea/webServers.xml
.idea/deployment.xml
.idea/deployment.xml
*.out
